# collection of data structure type

## list
## tuple
## set
## dictionary

In [1]:
li=[1,8,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[16, 9]

In [2]:
li=["gitam",123,1235,1236,"hyd"]
print(li)

['gitam', 123, 1235, 1236, 'hyd']

In [3]:
li=[1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
156
5
31

In [13]:
li=[1,9,116,25,5,9]
# li.append(89)
#li.insert(1,56)
#li.count(9)
#li.index(5)
#li.sort()
li.pop(1)
li

[1, 116, 25, 5, 9]

In [18]:
li=[1,9,116,25,5]
li1=[76,78,79]
li.extend(li1)
li.reverse()
li.pop(3)
li

[79, 78, 76, 25, 116, 9, 1]

In [21]:
def largestnumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,m):
    li.sort()
    return li[-m]
li=[1,9,45,7,10]
print(largestnumber(li))
print(genericlarge(li,3))

45
9

In [27]:
def smallest(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[1,3,6,2,5]
print(smallest(li))
print(genericsmall(li,2))

1
3

# tuple
## it is one common data structure in python, the items of tuples seperated by comma and enclosed by parenthesis()
### example
### x=(1,2,3,4)

# list and tuple
# in list are mutable -can be changed/modified
# list is used to modify,add,delete,update
# tuple are immutable -cannot be changed
# tuple used access data only

In [28]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

# dictionary

In [30]:
d1=("name","gitam")
d1

('name', 'gitam')

In [39]:
s1="python"
print(s1[0])
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::3])
print(s1[::-1])

p
o
ytho
h
ph
nohtyp

# string bult in methods:
##### upper
##### lower
##### islower
##### isupper
##### istitle
##### isnumeric
##### isalpha
##### isspace

In [52]:
s1="python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
False
True
False
True
False

In [53]:
s1=" "
print(s1.isspace())

True

In [58]:
s1="python"
print(" . ".join(s1))

p . y . t . h . o . n

In [60]:
s1="this is my college"
print(s1.replace("college","game"))

this is my game