# markdown

## markdown

### markdown

insert site address

!(site)[]

![site](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

![site](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

In [1]:
x=10

In [3]:
y=5

In [4]:
x+y

15

In [9]:
name="Anil"

In [12]:
age=20

In [13]:
print("my name is",name,"my age is",age)

('my name is', 'Anil', 'my age is', 20)

In [ ]:
age = int(input("enter age"))

In [ ]:
print("my name is",name,"age is",age)

In [17]:
x=input("enter a number")
y=int(input("enter a number"))
print("x+y is",x+y,"x-y is",x-y,"x%y is",x%y,"x*y is",x*y)

enter a number10
enter a number5
('x+y is', 15, 'x-y is', 5, 'x%y is', 0, 'x*y is', 50)

In [6]:
x = 10
y = 12.32
z = 5+6j
print(type(x))
print(type(y))
print(type(z))

<type 'int'>
<type 'float'>
<type 'complex'>

In [7]:
c=complex(2,3)
print(c)

(2+3j)

In [8]:
x = false
y = true

NameError: name 'false' is not defined

In [9]:
x = 5
y = 3
y>x

False

In [11]:

s1="adcd"
s2="1234"
print(type(s1))
print(type(s2))

<type 'str'>
<type 'str'>

In [14]:
i=532
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<type 'int'>
<type 'str'>
<type 'float'>

In [15]:
a=str(23562)
print(len(a))

5

In [25]:
n1=100
a=b=c=120
a1,b1,c1=123,234,345
print(n1)
print a,b,c
print a1,b1,c1

100
120 120 120
123 234 345

In [22]:
x=1+2**3/4+5
print(x)

8

In [24]:
x=1+2**3/4*5
print(x)

11

# operators
## Arithmetic operators
- +
- -
- *
- %
- **
- //

In [27]:
x=5+8**2/10-6
print(x)

5

# Relational operator
- ==
- !=
- <
- '>'
- <=
- =>

In [28]:
 a=10
b=4
print(a//b)
print(a%b)

2
2

# logical operators
- AND
- OR
- NOT

In [29]:
i=10
a=(i>20) and (i>76)
print(a)

False

In [31]:
i=56
a=(i>25) and (i>12)
print(a)

True

In [32]:
i=34
j=53
a=(i<j) and (j>i)
print(a)

True

# Membership operators
- IN
- NOT IN

In [33]:
str1="ABC"
print("a" in str1)
print("a" not in str1)

False
True

# control flow statements
### conditional statements
### looping statements
## if else statements
  - syntax
  if condition:
  > statement(if)

In [42]:
# check given number is perfectly multiple of 3 and 5
n=int(input("enter the number"))
if n%3==0 and n%5==0:
    print("YES")
else:
    print("NO")

enter the number15
YES

In [50]:
# check given number is positive or negitive or zero
n=int(input("enter the number"))
if n>0=positive: 
else if n<0=negitive:
  print("positive")
else:
  print("negitive")

SyntaxError: invalid syntax (<ipython-input-50-1c6238db24a7>, line 3)